body.editor-styles-wrapper {
	a:not(.components-button):not(.wp-element-button) {
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

	.is-root-container,
	.block-editor-block-list__layout,
	.block-editor-block-list__block,
	.wp-block,
	.acf-block-component,
	.acf-block-body,
	.acf-block-preview {
		width: 100% !important;
		max-width: none !important;
	}
}
